<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdy.aipc.mapper.IProductTradeParamMapper">


    <select id="getProductTradeParamByProdCode" resultType="com.zdy.aipc.domain.ProductTradeParam">
        select * from ProductTradeParam t where t.prodCode = #{prodCode};
    </select>

</mapper>